<div class="mt-4" style="padding: 40px;" id="footer">
	<div class="row justify-content-center align-items-center">
		<div class="col-12" style="text-align: center;">
			DeepSkill.fr © 2019 DeepSkill. All Rights Reserved
		</div>
		<div class="col-12 mt-4" style="text-align: center;">
			<!--<span data-toggle="modal" data-target="#conditions">Mentions légales</span>, -->
			<span data-toggle="modal" data-target="#conditions">Conditions d'utilisation</span>, 
			<span data-toggle="modal" data-target="#politique">Politique de confidentialité</span>
		</div>
	</div>
</div>

<!-- Conditions d'utilisation -->
<div class="modal fade" id="conditions" tabindex="-1" role="dialog" >
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Conditions d'utilisations</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<p>
        Sauf mention contraire explicite, les documents publiés ou téléchargeables sur deepskill.fr sont sous licence Deepskill qui autorise leur reproduction et leur modification sous réserve :
        <br>
		- De respect de leur paternité. Le nom de deepskill.fr et un lien vers le site deepskill.fr doivent être mentionnés. <br>
		- D’absence d’utilisation commerciale. Vous n’avez pas le droit d’utiliser cette création à des fins commerciales. <br>
		- De partage des conditions initiales à l’Identique. Si vous modifiez, transformez ou adaptez cette création, vous n’avez le droit de distribuer la création qui en résulte que sous un contrat identique à celui-ci.
		</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

<!-- Politique de confidentialité -->
<div class="modal fade" id="politique" tabindex="-1" role="dialog" >
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" >Politique de confidentialité</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		<h5 class="bvert">Votre vie privée</h5>
		<p>
			Les données personnelles collectées par deepskill.fr sont uniquement destinées à un usage interne. En aucun cas ces données ne seront cédées ou vendues à des tiers. Elles ne sont collectées que :
			<br>
			- Dans le cadre de la prise de contact pour une demande de démo. <br>
			- Dans le cadre des statistiques de fréquentation du site.
		</p>
		<h5 class="bvert">Cookies</h5>
		<p>
			Le site deepskill.fr peut être amené à vous demander l’acceptation des cookies pour des besoins de statistiques et d’affichage. Un cookies est une information déposée sur votre disque dur par le serveur du site que vous visitez. Il contient plusieurs données qui sont stockées sur votre ordinateur dans un simple fichier texte auquel un serveur accède pour lire et enregistrer des informations. Certaines parties de ce site ne peuvent être fonctionnelles sans l’acceptation de cookies.
		</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>