<nav class="navbar navbar-expand-lg" style="background-color: white;">
	<a class="navbar-brand" href="/home/accueil">
	  	<div class="d-flex align-items-center"> 
	  		<div>
	  			<%= image_tag "accueil/logo_bvert.png", alt:"Logo", width:"35px", height:"auto", class:"d-inline-block align-top"%>
	  		</div>
	  		<div class="ml-3 bvert" style="font-size: 1.2em;">
	  			DeepSkill
	  		</div>
	    </div>
	</a>
  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    	<span class="navbar-toggler-icon"></span>
  	</button>
  	<div class="collapse navbar-collapse" id="navbarNav">
    	<ul class="navbar-nav ml-auto mr-3">
      		<li class="nav-item active">
        		<a class="nav-link menu_link" href="/home/accueil#how">Comment ça marche ? <span class="sr-only">(current)</span></a>
      		</li>
      		<li class="nav-item active ml-lg-3">
        		<a class="nav-link menu_link" href="/home/accueil#avantages">Pourquoi DeepSkill</a>
      		</li>
      		<li class="nav-item active ml-lg-5">
        		<a class="nav-link btn btn-primary px-3" href="/home/demo" style="color:white; font-weight: bold; font-size: 1.1em; max-width: 200px;">Demo</a>
      		</li>
    	</ul>
    </div>
</nav>